*.iso
ovmf-aarch64
ovmf-riscv64
ovmf-x86_64
catten/target/**
charlottek-*.iso
catten-*.iso
log.txt
Limine
.vscode/**
log_*.txt
target/rust-analyzer/flycheck0/*
target/rust-analyzer/flycheck0/stderr
target/rust-analyzer/flycheck0/stdout
